<template>
	<div>
		<b-navbar toggleable="lg" type="dark" variant="info">
			<b-navbar-brand href="#">NavBar</b-navbar-brand>

			<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

			<b-collapse id="nav-collapse" is-nav>
			<b-navbar-nav>
				<b-nav-item href="/">Home</b-nav-item>        
				<b-nav-item href="/list">List</b-nav-item>        
			</b-navbar-nav>

			<!-- Right aligned nav items -->
			<b-navbar-nav class="ml-auto">
				<!-- <b-nav-form>
				<b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
				<b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
				</b-nav-form>     -->

				<b-nav-item-dropdown right>
				<!-- Using 'button-content' slot -->
				<template slot="button-content" v-if="email != null"><em>{{ email }}</em></template>
				<template slot="button-content" v-if="email === null"><em>User</em></template>
				<b-dropdown-item v-if="email !== null" href="/profile">Profile</b-dropdown-item>
				<b-dropdown-item v-if="email != null" href="/" @click="singOut">Sign Out</b-dropdown-item>
				<b-dropdown-item v-if="email === null" href="/signin" >Sign In</b-dropdown-item>
				</b-nav-item-dropdown>
			</b-navbar-nav>
			</b-collapse>
		</b-navbar>
	</div>
</template>

<script>
import firebase, { functions } from 'firebase' 
	export default {
		name: 'NavBar',
		data () {
			return{
				email: null,
			}
		},
		created () {
			firebase.auth().onAuthStateChanged((user) => {
				if (user) {
					this.email = user.email
				} 			
			})
		},
		computed: {
			checkLogin() {
				return this.$store.state.userLogin
			},
		},
		methods: {
			singOut () {
				firebase.auth().signOut().then(() => {
					// this.$router.replace('/')
					Object.assign(this.email = null)
					}).catch((error) => {
				});
			}
		}
	}
</script>

<style scoped>

</style>

