<template>
  <div>
      <b-container class="bv-example-row">
        <b-form @reset="onReset" v-if="show">
            <b-form-group
                id="input-group-1"
                label="Name :"
                label-for="input-1"            
            >
                <b-form-input
                id="input-1"
                v-model="form.name"
                type="text"
                required
                placeholder="Enter name"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Surname:" label-for="input-2">
                <b-form-input
                id="input-2"
                v-model="form.surname"
                required
                placeholder="Enter surname"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Tel:" label-for="input-2">
                <b-form-input
                id="input-2"
                v-model="form.tel"
                required
                placeholder="Enter telephone number"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Age:" label-for="input-2">
                <b-form-input
                id="input-2"
                v-model="form.age"
                required
                placeholder="Enter age"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Address:" label-for="input-2">
                <b-form-textarea
                id="input-2"
                v-model="form.address"
                required
                placeholder="Enter address"
                ></b-form-textarea>
            </b-form-group>
            
            <b-button @click="onSubmit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form> 
    </b-container>
       
  </div>
</template>

<script>
import db from '@/fb'
  export default {
    data() {
            db.collection("profile").get().then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                // console.log(doc.data());
                this.form.name.push(doc.data.name())
            });
        });
      return {
        form: {
            name: '',
            surname: '',
            tel: '',
            age: '',
            address: '',
        },
        show: true
      }
    },
    computed: {        
        error () {
            return this.$store.getters.getError
        },
        loading () {
            return this.$store.getters.getLoading
        }
    },
    methods: {
    onSubmit() {
       	db.collection("profile").add({
			    name: this.form.name, 
                surname: this.form.surname, 
                tel: this.form.tel, 
                age: this.form.age, 
                address: this.form.address,
			})
			.then(function(docRef) {
                console.log("added to db ID: ", docRef.id);                
			})
			.catch(function(error) {
				console.error("Error added: ", error);
            });
            this.$router.push('/list')
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.name = ''
        this.form.surname = ''
        this.form.tel = ''
        this.form.age = ''
        this.form.address = ''
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  }
</script>