<template>
  <div>
      <b-container class="bv-example-row">
          {{editUser}}
        <b-form @reset="onReset" v-if="show">
            <b-form-group
                id="input-group-1"
                label="Name :"
                label-for="input-1"            
            >
                <b-form-input
                id="input-1"
                v-model="editUser.name"
                type="text"
                required
                placeholder="Enter name"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Surname:" label-for="input-2">
                <b-form-input
                id="input-2"
                v-model="editUser.surname"
                required
                placeholder="Enter surname"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Tel:" label-for="input-2">
                <b-form-input
                id="input-2"
                v-model="editUser.tel"
                required
                placeholder="Enter telephone number"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Age:" label-for="input-2">
                <b-form-input
                id="input-2"
                v-model="editUser.age"
                required
                placeholder="Enter age"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Address:" label-for="input-2">
                <b-form-textarea
                id="input-2"
                v-model="editUser.address"
                required
                placeholder="Enter address"
                ></b-form-textarea>
            </b-form-group>
            
            <b-button @click="onEdit" variant="primary">Edit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form> 
    </b-container>
       
  </div>
</template>

<script>
import db from '@/fb'
  export default {
    data() {           
      return {
        editUser: {
            id: '',
            name: '',
            surname: '',
            tel: '',
            age: '',
            address: '',
        },
        show: true
      }
    },
    beforeCreate() {
    //   db.collection('profile')
    //     .where('id', '==', this.$route.params.id).get().then((querySnapshot) => {
    //       querySnapshot.forEach((doc) => {
    //           console.log(doc.data());
    //         // this.editUser.name = doc.data().name
    //         // this.editUser.surname = doc.data().surname
    //         // this.editUser.tel = doc.data().tel
    //       })
    //     })
    var docRef = db.collection('profile').doc(this.$route.params.id);
	docRef.get().then((doc)=> {
	    if (doc.exists) {
	        console.log("Document data:", doc.data().id);
	        this.editUser.id = doc.data().id
	        this.editUser.name = doc.data().name
	        this.editUser.surname = doc.data().surname
	    } else {
	        // doc.data() will be undefined in this case
	        console.log("No such document!");
	    }
	}).catch(function(error) {
	    console.log("Error getting document:", error);
	});
    },
    computed: {        
        error () {
            return this.$store.getters.getError
        },
        loading () {
            return this.$store.getters.getLoading
        }

    },
    methods: {    

    onEdit() {
        db.collection('profile')
        .where('id', '==', this.$route.params.id).get().then(querySnapshot => {
            querySnapshot.forEach(doc => {
            doc.ref.set({
                name: this.$route.params.name,                
                })
            })
        })
    },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.name = ''
        this.form.surname = ''
        this.form.tel = ''
        this.form.age = ''
        this.form.address = ''
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  }
</script>