<template>
    <b-container class="bv-example-row">
      <v-btn href="/add_profile">Add</v-btn>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Tel</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="users in users" v-bind:key="users.name">

            <template v-if="editId == users.id">
              <th><b-form-input v-model="edit.id"></b-form-input></th>
              <td><b-form-input v-model="edit.name"></b-form-input></td>
              <td><b-form-input v-model="edit.surname"></b-form-input></td>
              <td><b-form-input v-model="edit.tel"></b-form-input></td>
              <td><b-form-input v-model="edit.age"></b-form-input></td>
              <td><b-form-textarea v-model="edit.address"></b-form-textarea></td>
              <td class="width">
                <b-button @click="onEditSubmit(users.id)" >Confirm</b-button>
                <b-button @click="onCancel" >Cancel</b-button>                  
              </td>            
            </template>
            <template v-else>
                <th>{{users.id}}</th>
                <td>{{users.name}}</td>
                <td>{{users.surname}}</td>
                <td>{{users.tel}}</td>
                <td>{{users.age}}</td>
                <td>{{users.address}}</td>
                <td>
                  <b-button @click="onDelete(users.id)" >Delete</b-button>
                  <b-button @click="onEdit(users)" >Edit</b-button>                  
                </td>            
            </template>
          </tr>          
        </tbody>
      </table>
      
      
  </b-container>
</template>

<script>
import db from '@/fb'
  export default {
    data () {     
      return {   
        editId:'',        
        users:[],
        edit: {
          id: '',
          name: '',
          surname: '',
          tel: '',
          age: '',
          address: '',
        }
        
      }
    },
    created() {
      this.getUsers()
    },
    methods: {
      getUsers (){
        db.collection('profile').get().then(querySnapshot => {
          querySnapshot.forEach(doc => {
            this.users.push(doc.data())
          })
        })
      },
      refresh (){
        window.location.reload()
      },    
      onDelete(id){
        db.collection("profile").doc(id).delete().then(function() {
            console.log("Document successfully deleted!");
        }).catch(function(error) {
            console.error("Error removing document: ", error);
        });
        // db.collection('profile').doc(id).delete().then((data)=> {
        //     this.getUsers()
        // })
      },
      onEdit(users){
        this.editId = users.id
        this.edit.id = users.id
        this.edit.name = users.name
        this.edit.surname = users.surname
        this.edit.tel = users.tel
        this.edit.age = users.age
        this.edit.address = users.address
      },
      onCancel(){
        this.editId = ''
        this.edit.id = ''
        this.edit.name = ''
        this.edit.surname = ''
        this.edit.tel = ''
        this.edit.age = ''
        this.edit.address = ''
      },
      onEditSubmit (id){
        db.collection("profile").doc(id).set(this.edit).then(
          this.getUsers)
          this.editId = ''
          this.edit.id = ''
          this.edit.name = ''
          this.edit.surname = ''
          this.edit.tel = ''
          this.edit.age = ''
          this.edit.address = ''
      }
    }
  }
</script>

<style scoped>
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
  .width {
    width: 18%;
  }
</style>


