<template>
    <section >
        <div class="signin-card">
            <div class="login-title">
                <h4 class="font-weight">Sign In</h4>
            </div>
            <div >
                <form class="mod-login"  @submit.prevent="userSignIn">
                    <v-text-field
                        name="email"
                        type="text"
                        placeholder="Email"
                        v-model="user.email"
                        v-validate="'required'"
                    >
                    </v-text-field>    
                    <v-text-field
                        name="password"
                        type="password"
                        placeholder="Password"
                        v-model="user.password"
                        v-validate="'required|min:8'"
                    >
                    </v-text-field>
                       
                    <div class="login-btn">
                        <button
                            class="button is-info"
                            type="submit"
                            :disabled="loading"
                        >
                        Sign In
                        </button>
                    </div>
                </form>
            </div>
            <div class="login-other">
                <span>
                    New member?
                    <a
                        href="/signup"
                        >
                        Sign Up
                    </a>
                    here
                </span>
            </div>            
        </div>
    </section>
</template>

<script>

export default {
    
    data() {
        return {
           user: {
                email: '',
                password: '',
            },
            alert: false,
        }
    },
    computed: {
        error () {
            return this.$store.getters.getError
        },
        loading () {
            return this.$store.getters.getLoading
        }
    },
    watch: {
        error (value) {
            if (value) {
                this.alert = true
            }
        },
        alert (value) {
            if (!value) {
                this.$store.dispatch('setError', false)
            }
        }
    },
    methods: {
        userSignIn () {
            this.$store.dispatch('userSignIn', {email: this.user.email, password: this.user.password})
        }
  }
}
</script>

<style scoped>
    /* form {
        display: block;
    } */
    .field {
        display: block;
    }
    .font-weight {
        font-weight: bold;
        font-size: 150%
    }
    .login-title {
        /* width: 810px; */
        /* margin: 50px auto 15px; */
        height: 26px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 60px;
        
    }
    .login-other {
        float: right;
        margin-top: -26px;
        color: #757575;
    }
    .login .mod-login {
        padding: 25px 50px 50px 25px;
    }
    .signin-card {
        margin: 0 auto;
        /* margin-top: 10%; */
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        padding: 45px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        width: 50%;
    }
    .btn-outline-primary {
        width: 200px;   
    }
    .errInput{
        color: red;
        font-size: 14px;
        
    }
    .login-btn {
        margin-top: 20px;
    }
    .button.is-info {
        background-color: #167df0;
        border-color: transparent;
        color: #fff;
        width: 200px;
    }
</style>
