<template>
    <section>
        <div class="signin-card">
            <div class="login-title">
                <h4 class="font-weight">Sign Up</h4>
            </div>
            <div>
                <form class="mod-login" @submit.prevent="userSignUp">              
                    <v-text-field
                        name="email"
                        type="email"
                        placeholder="Email"
                        v-model="user.email"
                        v-validate="'required|email'"
                    >
                    </v-text-field>
                    <v-text-field
                        name="password"
                        type="password"
                        placeholder="Password"
                        v-model="user.password"
                        v-validate="'required|min:8'"
                    >
                    </v-text-field>
                    <v-text-field
                        name="confirmPassword"
                        type="password"
                        placeholder="Confirm Password"
                        v-model="user.confirmPassword"        
                        v-validate="'required|confirmed:password'"
                        :rules="[comparePasswords]"
                    >
                    </v-text-field>
                    <div class="regis-btn">
                        <button
                            class="button is-info"
                            type="submit"                    
                            :disabled="loading"
                        >Sign Up</button>
                    </div>
                    <div class="login-other">
                        <a
                            href="/signin"
                        >
                        Back
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>


<script>
export default {
    data() {
        return {
            user: {
                email: '',
                password: '',
                confirmPassword: '',
            },
            alert: false,
        }
    },
    computed: {
        comparePasswords() {
            return this.user.password === this.user.confirmPassword ? true : "Password and confirm password don't match"
        },
        error () {
            return this.$store.getters.getError
        },
        loading () {
            return this.$store.getters.getLoading
        }
    },
    watch: {
        error (value) {
            if (value) {
                this.alert = true
            }
        },
        alert (value) {
            if (!value) {
                this.$store.dispatch('setError', null)
            }
        }
    },
    methods: {
        userSignUp() {
            if (this.comparePasswords !== true) {
                return 
            }
            this.$store.dispatch('userSignUp', { email: this.user.email, password: this.user.password })
            // this.$store.commit('usersStore/createUser', this.user)
            // this.$router.push('/')
        },
    },
}
</script>

<style scoped>
    element.style {
        display: block;
    }
    .font-weight {
        font-weight: bold;
        font-size: 150%
    }
    .login-title {
        /* width: 810px; */
        /* margin: 50px auto 15px; */
        height: 26px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 60px;
    }
    .signin-card {
        margin: 0 auto;
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        padding: 45px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        width: 50%;
    }
    .login .mod-login {
        padding: 25px 50px 50px 25px;
    }
    .btn-outline-primary {
        width: 200px;   
    }
    .login-other {
        float: right;
        margin-top: -26px;
        color: #757575;
    }
    .errInput{
        color: red;
        font-size: 14px;

    }
    .field:not(:last-child) {
        margin-bottom: 0;
    }
    .regis-btn {
        margin-top: 20px;
    }
    .button.is-info {
        background-color: #167df0;
        border-color: transparent;
        color: #fff;
        width: 200px;
    }
</style>
